h1 {
    font-size: 2.5em;
}

h2 {
    color: #00fdff;
}

h4.job-title {
}

h2#menu {
    font-weight: bold;
    font-size: 14px;
    color: purple;
}

h3 {
    color: #ff6251;
}

a {
    color: purple;
}

h2#job {
    color: blue;
}

